.loginPageContainer {
    display: flex;
    padding: 100px;
    flex-direction: row !important; 
    background-color: white;
    align-items: center;
    height: calc(100vh - 60px);
    box-sizing: border-box; 
    width: auto;
    gap: 70px;
}

.leftLoginContainer{
      display: flex;
}

.rightLoginContainer{
    display: flex;
    flex-direction: column;
    width: 50vh;
}

